@import '~office-ui-fabric-react/dist/sass/References.scss';

.calendar {
  height:100vh;
  .loading{
    height: 100%;
  }
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  .title{
    text-align: center;
  }  
}
